name: E2E Master-Agent Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  E2E:
    runs-on: ubuntu-24.04

    steps:
      - name: Install podman
        run: sudo apt install -y podman

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install zig 15
        uses: https://codeberg.org/mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Give execute permission to script
        run: chmod +x ./app-test-container/start-test.sh

      - name: Run script
        run: ./app-test-container/start-test.sh build
